@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

@section styles {
  <environment include="Development">
    <link rel="stylesheet" href="~/css/index.css" />
  </environment>

  <environment exclude="Development">
    <link rel="stylesheet" href="~/css/index.min.css" asp-append-version="true" />
  </environment>
}

<ul>
  @foreach (var content in @Model.Contents)
  {
    <li>
      <a href="content/@content.AsUrl()">@content.Title</a>
    </li>
  }
</ul>
